## Type Checking

In [1]:
a = 10
print(type(a))

<class 'int'>

## Take Input and check type

In [2]:
a = input("Enter a Number :- ")
a = int(a)
print(type(a))

Enter a Number :-  5

<class 'int'>

## String Slicing

In [3]:
name  = "HARRY"
s1 = name[0:3]
print(s1)

HAR

In [8]:
s = "HarryIsGood"
d = s[0::3]
d1 = s[:0:-1]
print(d)
print(d1)
print(s[1:4])
print(s[:4])
print(s[1:])
print(s[-4:-1])

Hrso
dooGsIyrra
arr
Harr
arryIsGood
Goo

## String Concatenation

In [6]:
c = "Good Morning"
c1 = " Harry"
newc = c+c1
print(newc)

Good Morning Harry

## String Methods

In [9]:
story = "once upon a time there was a yotuber named Harry who uploaded python course with notes Harry"

print(len(story))
print(story.endswith("notes"))
print(story.count("c"))
print(story.capitalize())
print(story.find("upon"))
print(story.replace("Harry","CodeWithHarry"))

92
False
2
Once upon a time there was a yotuber named harry who uploaded python course with notes harry
5
once upon a time there was a yotuber named CodeWithHarry who uploaded python course with notes CodeWithHarry

## Exercise - 1

### 1. Write a program to display a user entered name followed by Good Afternoon using input()

In [10]:
uname = input("Enter your name:- ")
print("Good Evening "+uname)

Enter your name:-  suman

Good Evening suman

### 2. Write a program to detect single space in a string

In [15]:
str = "Hello I am fine"
print(str.find(" ")) #detects first occurance

5

In [18]:
str = "Hello I am fine"
for i in range(len(str)):
    if(str[i]==" "):
        print(i)
#detects all occurances

5
7
10

## Lists

In [19]:
l = [10,20,30,40,50]
print(l)

[10, 20, 30, 40, 50]

## List Methods

In [26]:
l1 = [40,10,30,20,50]
l2 = [100,110,120]
print(l1)
l1.sort()
print("Sort - ",l1)
l1.reverse()
print("Reverse - ",l1)
l1.append(80)
print("Append 80 - ",l1)
l1.insert(3,90)
print("Insert 90 at 3rd position - ",l1)
l1.pop(2)
print("Pop index 2 - ",l1)
l1.remove(20)
print("Remove index 2 - ",l1)
print("Concatenate - ",l1+l2)
print("Repetation - ",l2*3)

[40, 10, 30, 20, 50]
Sort -  [10, 20, 30, 40, 50]
Reverse -  [50, 40, 30, 20, 10]
Append 80 -  [50, 40, 30, 20, 10, 80]
Insert 90 at 3rd position -  [50, 40, 30, 90, 20, 10, 80]
Pop index 2 -  [50, 40, 90, 20, 10, 80]
Remove index 2 -  [50, 40, 90, 10, 80]
Concatenate -  [50, 40, 90, 10, 80, 100, 110, 120]
Repetation -  [100, 110, 120, 100, 110, 120, 100, 110, 120]

## Tuples

In [27]:
a = (2,5,7)
print(a)

(1, 6, 8)

## Tuple Methods

In [29]:
a1 = (1,6,8)
a2 = (10,60,80)
print("No of 1 - ",a.count(1))
print("Index of first occurance of 1 - ",a.index(1))
print("Length - ",len(a))
print("Concatenate - ",a1+a2)
print("Repetation - ",a1*3)
print("Minimum - ",min(a1))
print("Maximum - ",max(a1))
print("a1*3+a2 - ",a1*3+a2)

No of 1 -  1
Index of first occurance of 1 -  0
Length -  3
Concatenate -  (1, 6, 8, 10, 60, 80)
Repetation -  (1, 6, 8, 1, 6, 8, 1, 6, 8)
Minimum -  1
Maximum -  8
a1*3+a2 -  (1, 6, 8, 1, 6, 8, 1, 6, 8, 10, 60, 80)

## Exercise - 2

### 1. WAP to store the name of seven fruits in a list entered by the user

In [30]:
fruitlist = []
for i in range(0,7):
    a = input(f"Name of Fruit {i+1}:- ")
    fruitlist.append(a)

print(fruitlist)

Name of Fruit 1:-  apple
Name of Fruit 2:-  banana
Name of Fruit 3:-  cherry
Name of Fruit 4:-  peach
Name of Fruit 5:-  avocado
Name of Fruit 6:-  orange
Name of Fruit 7:-  mango

['apple', 'banana', 'cherry', 'peach', 'avocado', 'orange', 'mango']

### 2. WAP to accept marks of 10 students and display them in a sorted order

In [31]:
marks = []
for i in range(0,10):
    a = int(input(f"Enter mark of student {i+1}:- "))
    marks.append(a)

marks.sort()
print(marks)

Enter mark of student 1:-  30
Enter mark of student 2:-  20
Enter mark of student 3:-  10
Enter mark of student 4:-  60
Enter mark of student 5:-  23
Enter mark of student 6:-  78
Enter mark of student 7:-  43
Enter mark of student 8:-  56
Enter mark of student 9:-  08
Enter mark of student 10:-  12

[8, 10, 12, 20, 23, 30, 43, 56, 60, 78]

### 3. WAP to count number of zeros in a given tuple and check that a tuple cannot be changed

In [32]:
t1 = (1,0,8,2,3,0,0)
print("No of zeros - ",t1.count(0))

No of zeros -  3

In [33]:
t1[3] = 0
print(t1)

TypeError: 'tuple' object does not support item assignment

### 4. WAP to find the sum of list with 4 numbers

In [35]:
lst1 = [30,10,25,15]
sum = 0
for i in lst1:
    sum += i
print("Sum - ",sum)

Sum -  80

## Dictionary

In [40]:
myDict = {'Apple':300,
          'Banana':100,
          'Mango':150,
          'Avocado':500,
          'Peach':250
         }
print("Dictionary - ",myDict)
myDict['Watermelon'] = 130
print("Inserted Watermelon - ",myDict)
myDict['Mango'] = 110
print("Modified Mango - ",myDict)
print("Pop Avocado - ",myDict.pop('Avocado'))

Dictionary -  {'Apple': 300, 'Banana': 100, 'Mango': 150, 'Avocado': 500, 'Peach': 250}
Inserted Watermelon -  {'Apple': 300, 'Banana': 100, 'Mango': 150, 'Avocado': 500, 'Peach': 250, 'Watermelon': 130}
Modified Mango -  {'Apple': 300, 'Banana': 100, 'Mango': 110, 'Avocado': 500, 'Peach': 250, 'Watermelon': 130}
Pop Avocado -  500

## Sets

In [57]:
S = {1,8,5,9,3}
print("Length of S - ",len(S))
S.remove(8)
print("Remove 8 from the set:- ",S)
print("Pop arbitrary element - ",S.pop())
print("Union {8,11} - ",S.union({3,11}))
print("Intersection {8,11} - ",S.intersection({3,11}))
S.add(7)
print("Add 7 - ",S)
S.update([10,20,30])
print("Update - ",S)

Length of S -  5
Remove 8 from the set:-  {1, 3, 5, 9}
Pop arbitrary element -  1
Union {8,11} -  {3, 5, 9, 11}
Intersection {8,11} -  {3}
Add 7 -  {3, 5, 7, 9}
Update -  {3, 5, 7, 9, 10, 20, 30}

## Exercise - 3

### 1. WAP to create a dictionary of Bengali words with values as their English translation . Provide the user with an optiont to look it up

In [62]:
BnE = {'Jao' : 'Go',
       'Kemon' : 'How',
       'Ki':'What',
       'Kothay':'Where',
       'Kora':'Do'
      }
print("Available Words are - ")
for i in BnE.keys():
    print(i)
print("\nSelect any word from above for translation - ")
wrd = input("Enter the word - ")
print("English translation of ",wrd," is - ",BnE[wrd])

Available Words are -
Jao
Kemon
Ki
Kothay
Kora

Select any word from above for translation -

Enter the word -  Jao

Emglish translation of  Jao  is -  Go

### 2. WAP to input 8 numbers from the user and display all the unique numbers

In [64]:
num = []
for i in range(0,8):
    a = int(input(f"Enter number {i+1} - "))
    num.append(a)

print("\nAll numbers are - ",num)
numset = set(num)
print("Unique numbers are - ",numset)

Enter number 1 -  3
Enter number 2 -  4
Enter number 3 -  5
Enter number 4 -  2
Enter number 5 -  3
Enter number 6 -  4
Enter number 7 -  5
Enter number 8 -  6

All numbers are -  [3, 4, 5, 2, 3, 4, 5, 6]
Unique numbers are -  {2, 3, 4, 5, 6}

### 3. Create an empty dictionary. Allow 4 friends to enter their favourite language as values and use keys as their names. Assume that the names are unique.

In [66]:
nameDict = {}
for i in range(0,4):
    print("\nFRIEND - ",i+1,"\n")
    nm = input("Enter your name - ")
    ln = input("Enter fav language - ")
    nameDict[nm] = ln
print("\n")
print(nameDict)

FRIEND -  1

Enter your name -  Suman
Enter fav language -  Bengali

FRIEND -  2

Enter your name -  aditya
Enter fav language -  emglish

FRIEND -  3

Enter your name -  akif
Enter fav language -  french

FRIEND -  4

Enter your name -  rishabh
Enter fav language -  german

{'Suman': 'Bengali', 'aditya': 'emglish', 'akif': 'french', 'rishabh': 'german'}